@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rlogw0');
  src:  url('../fonts/icomoon.eot?rlogw0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rlogw0') format('truetype'),
    url('../fonts/icomoon.woff?rlogw0') format('woff'),
    url('../fonts/icomoon.svg?rlogw0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body{
  height: 100%;
  display: grid;
}  
body{
  font-family: 'Karla', sans-serif;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(140deg, #fbc2eb 0%, #a6c1ee 100%);
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #6a6969;
}
#box{
  position: fixed;
  right: 1rem;
  bottom: 0;
  padding: 0 0 2.5rem 0;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 6px 15px rgba(36,37,38,0.08);
  padding: 1rem;
  background:#fff;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  width: 400px;
}
.input-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h3{
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin-top: 0;
  border-bottom: #eee 1px solid;
}
ul{
  padding: 0;
  list-style-type: none
}
li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: .7rem 0 .7rem 1rem;
  border-bottom: #eee 1px solid;
}
li.true{
  text-decoration: line-through;
}
li::after{
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
li.false::after{
  background: gray;
}
li.true::after{
  background: green;
}
input{
  background: #f1f3f4;
  border-radius: 20px;    
  padding: .5rem;
  color: #5f6368;
  border: none;
  width: 100%;
}
button{
  padding: .5rem 2rem;
  margin: .3rem;
  background: #a6c1ee;
  border: none;
  color: #fff;
  border-radius: 50px;
}
button:hover{
  cursor: pointer;
}
.buttons-holder button{
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0 5px;
}
.buttons-holder button::before{
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

.toggle-button{
  background: green;
}
.edit-button{
  background: gray;
}
.delete-button{
  background: red;
}
.up-button::before{
  content: "\ea3a";
}
.down-button::before{
  content: "\ea3e";
}
.toggle-button::before{
  content: "\ea10";
}
.true .toggle-button::before{
  content: "\ea11";
}
.edit-button::before{
  content: "\e905";
}
.delete-button::before{
  content: "\e9ac";
}
